<div id="<%= dom_id document %>">
  <p>
    <strong>Filename:</strong>
    <%= document.filename %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= document.file_type %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= document.content_type %>
  </p>

  <p>
    <strong>Is parsed:</strong>
    <%= document.is_parsed %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= document.is_public %>
  </p>

  <p>
    <strong>Contents byte:</strong>
    <%= document.contents_byte %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= document.contents %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= document.updated_at %>
  </p>

</div>
