<p style="color: green"><%= notice %></p>

<h2>Collection: <%= @collection.collection_name %>, Vector Store: <%= @collection.vector_name %></h2>

  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Documents</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| -%>
        <tr>
          <td><%= document.filename %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>

<div>
  <%= link_to "Back to collections", collections_path %>

  <%= button_to "Delete this collection", @collection, method: :delete %>
</div>
