<div id="<%= dom_id user %>">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>User sid:</td>
        <td><%= user.user_sid %></td>
      </tr>
    
      <tr>
        <td>User name:</td>
        <td><%= user.user_name %></td>
      </tr>
    
      <tr>
        <td>User email:</td>
        <td><%= user.user_email %></td>
      </tr>
    
      <tr>
        <td>Phone:</td>
        <td><%= user.phone %></td>
      </tr>
    </tbody>
  </table> 
</div>
