<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| -%>
        <tr>
          <td><%= user.user_sid %></td>
          <td><%= user.user_name %></td>
          <td><%= link_to "Select", select_user_path(user) %></td>
          <td><%= link_to "Show", user %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
