<p style="color: green"><%= notice %></p>
<%= form_tag(query_llm_question_path, method: 'post') do %>

<div id="llm_questions">
  <table border="2">
    <thead>
      <tr>
        <th align="left">LLM Question</th>
        <th align="left">Flag text</th>
        <% if ! @llm_question.chain_id.nil? -%>
          <th></th>
        <% end -%>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if ! @llm_question.chain_id.nil? -%>
          <td>
            <%= @llm_question.chain_id %>.<%= @llm_question.chain_order %>
          </td>
        <% end -%>
        <td><%= @llm_question.question_text %></td>
        <td><%= @llm_question.flag_text %></td>
      </tr>
    </tbody>
  </table>
</div>
<% if ! @template.nil? -%>
  <table border="2">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td><b>Template</b></td>
        <td><%= @template.template_text %></td>
      </tr>
      <% if session[:level] >= 1 -%>
        <tr>
          <td><b>Prompt Input</b></td>
          <td><%= @template.prompt_input %></td>
        </tr><tr>
          <td><b>Chat prompt</b></td>
          <td><%= @template.chat_prompt%></td>
        </tr><tr>
          <td><b>System prompt</b></td>
          <td><%= @template.system_prompt%></td>
        </tr><tr>
          <td><b>Input variables</b></td>
          <td><%= @template.input_variables %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
<br/>
<div>
  <%= link_to "Edit this LLM question", edit_llm_question_path(@llm_question) %>
  <%= link_to "Download", :id => @llm_question.id, :method => :download, :action => :download %>
  <%= link_to "Download chain", :id => @llm_question.id, :method => :chain_download, :action => :chain_download %>
</div>
<table>
  <thead></thead>
  <tbody>
    <tr>
      <td><%= collection_select :llm_id, :llm_id, @llms, :id, :llm_name, prompt: "Select LLM model" %></td>
      <% if session[:level] >= 1 -%>
        <td><%= collection_select :parameter_set_id, :parameter_set_id, @parameter_sets, :id, :set_name, prompt: "Select LLM parameter set" %></td>
        <td><%= collection_select :collection_id, :collection_id, @collections, :id, :collection_name, prompt: "Select LLM RAG collection" %></td>
      <% end -%>
      <td><%= button_to "Run LLM", :id => @llm_question.id, :method => :post, :action => :query %></td>
    </tr>
  </tbody>
</table>
<% if ! @llm_questions.nil? -%>
  <%= render "llm_questions", llm_questions: @llm_questions, selected_llm_question: @llm_question %>
<% end -%>
<% if ! @llm_responses.nil? -%>
  <%= render "llm_responses", llm_questions: @llm_questions, llm_responses: @llm_responses, llm_names: @llm_names %>
<% end -%>
<%= render "form2", llm_question: @add_llm_questions, selected_llm_question: @llm_question %>
<%= link_to "Delete this LLM question & responses", @llm_question, method: :delete %>
<br/>
<% @responses.each do |response| -%>
  <%= render "response", response: response, llm_names: @llm_names %>
<% end -%>

<% end -%>
