<p style="color: green"><%= notice %></p>

<%= render @user_read %>

<div>
  <%= link_to "Back to user reads", user_reads_path %>

  <% if session[:role] == "admin" -%>
    <%= link_to "Edit this user read", edit_user_read_path(@user_read) %>
    <%= button_to "Destroy this user read", @user_read, method: :delete %>
  <% end -%>
</div>
