<%= form_with(model: llm_evaluation) do |form| %>
  <% if llm_evaluation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(llm_evaluation.errors.count, "error") %> prohibited this llm_evaluation from being saved:</h2>

      <ul>
        <% llm_evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :is_valid, style: "display: block" %>
    <%= form.check_box :is_valid %>
  </div>

  <div>
    <%= form.label :is_modified, style: "display: block" %>
    <%= form.check_box :is_modified %>
  </div>

  <div>
    <%= form.label :is_missing, style: "display: block" %>
    <%= form.check_box :is_missing %>
  </div>

  <div>
    <%= form.label :llm_text, style: "display: block" %>
    <%= form.text_field :llm_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
