<div id="<%= dom_id llm_evaluation %>">
  <p>
    <strong>Is valid:</strong>
    <%= llm_evaluation.is_valid %>
  </p>

  <p>
    <strong>Is modified:</strong>
    <%= llm_evaluation.is_modified %>
  </p>

  <p>
    <strong>Is missing:</strong>
    <%= llm_evaluation.is_missing %>
  </p>

  <p>
    <strong>Llm text:</strong>
    <%= llm_evaluation.llm_text %>
  </p>

</div>
