<p style="color: green"><%= notice %></p>

<%= render @llm_evaluation %>

<div>
  <%= link_to "Back to llm evaluations", llm_evaluations_path %>

  <% if session[:role] == "admin" -%>
    <%= link_to "Edit this llm evaluation", edit_llm_evaluation_path(@llm_evaluation) %>
    <%= button_to "Destroy this llm evaluation", @llm_evaluation, method: :delete %>
  <% end -%>
</div>
