<%= form_with(model: parameter_set) do |form| %>
  <% if parameter_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parameter_set.errors.count, "error") %> prohibited this parameter_set from being saved:</h2>

      <ul>
        <% parameter_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :set_name, style: "display: block" %>
    <%= form.text_field :set_name %>
  </div>

  <h2>LLM parameters:</h2>
  <table border="2">
    <thead></thead>
    <tbody>
      <% Parameter::LLM_PARAMS.each do |llm_k, llm_value| -%>
        <tr>
          <td><%= text_field_tag "llm_key[]", llm_k, size: 60 %></td>
          <td><%= text_field_tag "llm_val[]", llm_value, size: 60 %></td>
        </tr>
      <% end -%>
      <% for i in 1..3 -%>
        <tr>
          <td><%= text_field_tag "llm_key[]", "", size: 60 %></td>
          <td><%= text_field_tag "llm_val[]", "", size: 60 %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <br/>
  <h2>RAG parameters:</h2>
  <table border="2">
    <thead></thead>
    <tbody>
      <% Parameter::RAG_PARAMS.each do |llm_rag_key, llm_rag_value| -%>
        <tr>
          <td><%= text_field_tag "rag_key[]", llm_rag_key, size: 60 %></td>
          <td><%= text_field_tag "rag_val[]", llm_rag_value, size: 60 %></td>
        </tr>
      <% end -%>
      <% for i in 1..3 -%>
        <tr>
          <td><%= text_field_tag "rag_key[]", "", size: 60 %></td>
          <td><%= text_field_tag "rag_val[]", "", size: 60 %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
