<div id="<%= dom_id test_question %>">
  <br/>
  <table border="2">
    <thead></thead>
    <tbody>
  <tr>
    <td>Test Set</td>
    <td><%= @test_set.mqf_name if ! @test_set.nil? %></td>
  </tr>

  <% if ! @llm.nil? -%>
    <tr>
      <td>LLM model</td>
      <td><%= @llm.llm_name if ! @llm.nil? %></td>
    </tr>
  <% end -%>

  <tr>
    <td>Question</td>
    <td><%= test_question.question %></td>
  </tr>

  <tr>
    <td>Reference</td>
    <td><%= test_question.reference %></td>
  </tr>

  <tr>
    <td>Paragraph</td>
    <td><%= test_question.paragraph %></td>
  </tr>

  <tr>
    <td>Answer</td>
    <td><%= test_question.answer_option %>:&nbsp<%= test_question.answer %></td>
  </tr>

  <tr>
    <td>A</td>
    <td><%= test_question.option_a %></td>
  </tr>

  <tr>
    <td>B</td>
    <td><%= test_question.option_b %></td>
  </tr>

  <% if ! test_question.option_c.nil? -%>
    <tr>
      <td>C</td>
      <td><%= test_question.option_c %></td>
    </tr>
  <% end -%>
  
  <% if ! test_question.option_d.nil? -%>
    <tr>
      <td>D</td>
      <td><%= test_question.option_d %></td>
    </tr>
  <% end -%>
  
  <% if ! test_question.option_e.nil? -%>
    <tr>
      <td>E</td>
      <td><%= test_question.option_e %></td>
    </tr>
  <% end -%>

  <% if ! test_question.option_f.nil? -%>
    <tr>
      <td>F</td>
      <td><%= test_question.option_f %></td>
    </tr>
  <% end -%>

  <tr>
    <td>Created at</td>
    <td><%= test_question.created_at.strftime('%Y-%m-%d') %></td>
  </tr>

  <tr>
    <td>Updated at</td>
    <td><%= test_question.updated_at.strftime('%Y-%m-%d') %></td>
  </tr>
  </tbody>
</table>

  <% if ! test_question.image_id.nil? -%>
    See <%= test_question.image_text %>
    <br/>
    <iframe src=<%= "/image_#{test_question.image_id}.pdf" %> width="800" height="900" style="border: none;"></iframe>
  <% end -%>
</div>
