<p style="color: green"><%= notice %></p>

<h1>Current Test</h1>
<div id="user_questions">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>User Answer</th>
        <th>#</th>
        <th>Question</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @test_questions.each do |test_question| -%>
        <tr>
          <% user_question = @user_questions[test_question.id] -%>
          <td><%= user_question.user_answer if ! user_question.nil? %></td>
          <td><%= test_question.question_number %></td>
          <td><%= test_question.question %></td>
          <td><%= link_to "Edit", edit_user_question_path(user_question) %></td>
          <td><%= link_to "Show", user_question %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
