<p style="color: green"><%= notice %></p>

<h1>User Tests</h1>

<div id="user_tests">
  <table>
    <thead>
      <tr>
        <th>Test</th>
        <th>Correct</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_tests.each do |user_test| -%>
        <tr>
          <td><%= @test_sets[ user_test.test_set_id ].mqf_name if ! @test_sets[ user_test.test_set_id ].nil? %></td>
          <td><%= user_test.number_correct %></td>
          <td><%= user_test.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= link_to "Show", user_test %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
