<p style="color: green"><%= notice %></p>

<% total = @correct + @incorrect + @unanswered -%>
<table border="2">
  <thead></thead>
  <tbody>
    <tr>
      <td>Test</td>
      <td><%= @test_set.mqf_name if ! @test_set.nil? %></td>
    </tr><tr>
      <td>Correct</td>
      <% percent = (@user_test.number_correct * 100) / total %>
      <td><%= @user_test.number_correct %> (<%= percent %>&percnt;)</td>
    </tr><tr>
      <td>Incorrect</td>
      <td><%= @incorrect %></td>
    </tr><tr>
      <td>Unanswered</td>
      <td><%= @unanswered %></td>
    </tr>
  </tbody>
</table>
<h2>By Topic</h2>
<table border="2">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Correct</th>
      <th>Incorrect</th>
      <th>Unanswered</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| -%>
      <tr>
        <td><%= topic.topic_text %></td>
        <% total = 0 -%>
        <% total += @by_topic[topic.id][:correct] if ! @by_topic[ topic.id ][:correct].nil? -%>
        <% total += @by_topic[topic.id][:incorrect] if ! @by_topic[ topic.id ][:incorrect].nil? -%>
        <% total += @by_topic[topic.id][:unanswered] if ! @by_topic[topic.id ][:unanswered ].nil? -%>
        <% percent = 0 -%>
        <% percent = (@by_topic[ topic.id ][:correct ] * 100) / total if ! @by_topic[topic.id][:correct].nil? -%>
        <td><%= @by_topic[ topic.id ][:correct] %> (<%= percent %>&percnt;)</td>
        <td><%= @by_topic[ topic.id ][:incorrect] %></td>
        <td><%= @by_topic[ topic.id ][:unanswered] %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div>
  <%= link_to "Back to user tests", user_tests_path %>
</div>
