<%= form_with(model: qualification) do |form| %>
  <% if qualification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
        <% qualification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end -%>

  <table border="2">
    <thead></thead>
    <tbody>
      <div>
        <tr>
          <td><%= form.label :qualification_name, style: "display: block" %></td>
          <td><%= form.text_field :qualification_name %></td>
        </tr>
      </div>
      <div>
        <tr>
          <td><%= form.label :qualification_code, style: "display: block" %></td>
          <td><%= form.text_field :qualification_code %></td>
        </tr>
      </div>
    </tbody>
  </table>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
