<p style="color: green"><%= notice %></p>

<h1>Qualifications</h1>

<div id="qualifications">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Qualification</th>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @qualifications.each do |qualification| -%>
        <tr>
          <td><%= qualification.qualification_name %></td>
          <td><%= qualification.qualification_code %></td>
          <td><%= link_to "Show", qualification %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<br/>
<%= link_to "New qualification", new_qualification_path %>
