<p style="color: green"><%= notice %></p>

<%= render @qualification %>
<br/>
<div>
  <%= link_to "Edit this qualification", edit_qualification_path(@qualification) %> |
  <%= link_to "Back to qualifications", qualifications_path %>

  <%= button_to "Delete this qualification", @qualification, method: :delete %>
</div>
