<p style="color: green"><%= notice %></p>

<h1>Available Tests</h1>
<div id="groups">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Name</th>
        <th>Squadron</th>
        <th>Source</th>
        <th>Questions</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @test_sets.each do |test_set| %>
        <tr>
          <td><%= test_set.mqf_name %></td>
          <td align="center"><%= test_set.squadron %></td>
          <td align="center"><%= test_set.source %></td>
          <td align="center"><%= test_set.number_questions %></td>
          <td align="center"><%= test_set.created_at.strftime('%Y-%m-%d') %></td>
          <td align="center"><%= test_set.updated_at.strftime('%Y-%m-%d') %></td>
          <td align="center"><%= link_to "Start Test", take_test_test_set_path(test_set) %></td>
          <td><%= link_to "Show", test_set %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
