<p style="color: green"><%= notice %></p>

<h1>LLM Responses</h1>

<div id="responses">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>LLM Question</th>
        <th>LLM</th>
        <% if session[:level] >= 1 -%>
          <th>Vector store</th>
        <% end -%>
        <th>Run date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |response| -%>
        <tr>
          <td><%= @llm_questions[ response.llm_question_id ] %></td>
          <td><%= @llms[ response.llm_id ] %></td>
          <% if session[:level] >= 1 -%>
            <td><%= @collections[ response.collection_id ].vector_name if ! response.collection_id.nil? %></td>
          <% end -%>
          <td><%= response.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= link_to "Show", response %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
