<p style="color: green"><%= notice %></p>

<%= render @collection_document %>

<div>
  <%= link_to "Back to collection documents", collection_documents_path %>

  <% if session[:role] == "admin" -%>
    <%= link_to "Edit this collection document", edit_collection_document_path(@collection_document) %>
    <%= button_to "Destroy this collection document", @collection_document, method: :delete %>
  <% end -%>
</div>
