<p style="color: green"><%= notice %></p>

<h1>Chains</h1>

<div id="chains">
  <table border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Order</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @chains.each do |chain| %>
        <tr>
          <td><%= chain.id %></td>
          <td><%= @users[chain.user_id] %></td>
          <td><%= chain.chain_order %></td>
          <td><%= link_to "Show", chain %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
