<p style="color: green"><%= notice %></p>

<%= render @chain %>

<div>
  <%= link_to "Back to chains", chains_path %>

  <% if session[:role] == "admin" -%>
    <%= link_to "Edit this chain", edit_chain_path(@chain) %> 
    <%= button_to "Destroy this chain", @chain, method: :delete %>
  <% end -%>
</div>
