<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <table cellpadding="2" class="display compact dataTable" id="example">
    <thead>
      <tr>
        <th>Parent</th>
        <th>Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| -%>
        <tr>
          <td><%= @groups_hash[ group.parent_id ].group_name if ! group.parent_id.nil? %></td>
          <td><%= group.group_name %></td>
          <td><%= link_to "Show", group %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>

<%= link_to "New group", new_group_path %>
