<!DOCTYPE html>
<html>
  <head>
    <title>AI tools for Knowledge-Intensive Tasks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'layouts/title' %>
    <%= render :partial => 'layouts/buttons' %>
    <% if session[:level] >= 5 -%>
      <%= render :partial => 'layouts/user' %>
    <% end -%>
    <%= yield %>
  </body>
</html>
