<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table border="2">
      <thead></thead>
      <tbody>
        <tr>
          <td><%= form.label :role_name, style: "display: block" %></td>
          <td><%= form.text_field :role_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
