<p style="color: green"><%= notice %></p>

<%= render @role %>
<br/>
<div>
  <%= link_to "Back to roles", roles_path %>

  <% if session[:role] == "admin" -%>
    <%= link_to "Edit this role", edit_role_path(@role) %>
    <%= button_to "Destroy this role", @role, method: :delete %>
  <% end -%>
</div>
