<div id="<%= dom_id response %>">
<table>
  <thead>
    <tr>
      <th>LLM Question</th>
      <th>LLM</th>
      <% if session[:level] >= 1 -%>
        <th>Vector Store</th>
        <th>Collection</th>
      <% end -%>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @llm_question.question_text if ! @llm_question.nil? %></td>
      <td><%= @llm.llm_name if ! @llm.nil? %></td>
      <% if session[:level] >= 1 -%>
        <td><%= @collection.vector_name if ! @collection.nil? %></td>
        <td><%= @collection.collection_name if ! @collection.nil? %></td>
      <% end -%>
      <td><%= response.created_at.strftime('%Y-%m-%d') %></td>
  </tr>
  </tbody>
</table>
<pre>
<%= response.response_text %>
</pre>
</div>
