<div id="<%= dom_id difference %>">
  <p>
    <strong>Filename:</strong>
    <%= difference.filename %>
  </p>

  <p>
    <strong>File type:</strong>
    <%= difference.file_type %>
  </p>

  <p>
    <strong>Is parsed:</strong>
    <%= difference.is_parsed %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= difference.is_public %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= difference.document_type %>
  </p>

</div>
