<%= form_with(model: difference) do |form| %>
  <% if difference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(difference.errors.count, "error") %> prohibited this difference from being saved:</h2>

      <ul>
        <% difference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :filename, style: "display: block" %>
    <%= form.text_field :filename %>
  </div>

  <div>
    <%= form.label :file_type, style: "display: block" %>
    <%= form.text_field :file_type %>
  </div>

  <div>
    <%= form.label :is_public, style: "display: block" %>
    <%= form.check_box :is_public %>
  </div>

  <div>
    <%= form.label :document_type, style: "display: block" %>
    <%= form.text_field :document_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
