<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td><%= form.label :group_name, style: "display: block" %></td>
          <td><%= form.text_field :group_name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
