<%= form_with(model: test_set) do |form| %>
  <% if test_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(test_set.errors.count, "error") %> prohibited this test_set from being saved:</h2>

      <ul>
        <% test_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table border="2">
    <thead></thead>
    <tbody>

  <div>
    <tr>
      <td><%= form.label :mqf_name, style: "display: block" %></td>
      <td><%= form.text_field :mqf_name, :size => "80" %></td>
    </tr>
  </div>

  <div>
    <tr>
      <td><%= form.label :squadron, style: "display: block" %></td>
      <td><%= form.text_field :squadron, :size => "80" %></td>
    </tr>
  </div>

  <div>
    <tr>
      <td><%= form.label :source, style: "display: block" %></td>
      <td><%= form.text_field :source, :size => "80" %></td>
    </tr>
  </div>

  <div>
    <tr>
      <td><%= form.label :number_questions, style: "display: block" %></td>
      <td><%= form.number_field :number_questions %></td>
    </tr>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
