<%= form_with(model: user_question) do |form| -%>
  <% if user_question.errors.any? -%>
    <div style="color: red">
      <h2><%= pluralize(user_question.errors.count, "error") %> prohibited this user_question from being saved:</h2>

      <ul>
        <% user_question.errors.each do |error| -%>
          <li><%= error.full_message %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <br/>
  <table>
    <thead></thead>
    <tbody>
  <tr>
    <td>Test</td>
    <td><%= @test_set.mqf_name if ! @test_set.nil? %></td>
  </tr>

  <% if ! @llm.nil? -%>
    <tr>
      <td>LLM model</td>
      <td><%= @llm.llm_name if ! @llm.nil? %></td>
    </tr>
  <% end -%>

  <tr>
    <td>Topic</td>
    <td><%= @topic.topic_text if ! @topic.nil? %></td>
  </tr><tr>
    <td>Question</td>
    <td><%= @test_question.question %></td>
  </tr><tr>
    <td>Reference</td>
    <td><%= @test_question.reference %></td>
  </tr><tr>
    <td>Paragraph</td>
    <td><%= @test_question.paragraph %></td>
  </tr><tr>
    <td>A</td>
    <td><%= @test_question.option_a %></td>
  </tr><tr>
    <td>B</td>
    <td><%= @test_question.option_b %></td>
  </tr>
  <% if ! @test_question.option_c.nil? && @test_question.option_c.length > 0 -%>
    <tr>
      <td>C</td>
      <td><%= @test_question.option_c %></td>
    </tr>
  <% end -%>
  <% if ! @test_question.option_d.nil? && @test_question.option_d.length > 0 -%>
    <tr>
      <td>D</td>
      <td><%= @test_question.option_d %></td>
    </tr>
  <% end -%>
    <% if ! @test_question.option_e.nil? && @test_question.option_e.length > 0 -%>
    <tr>
      <td>E</td>
      <td><%= @test_question.option_e %></td>
    </tr>
  <% end -%>
  <% if ! @test_question.option_f.nil? -%>
    <tr>
      <td>F</td>
      <td><%= @test_question.option_f %></td>
    </tr>
  <% end -%>
  <tr></tr>
  <div>
    <td><%= form.label :user_answer, style: "display: block" %></td>
    <td><%= form.text_field :user_answer %></td>
  </div>
  <tr></tr>
  <div>
    <td><%= form.label :question_score, style: "display: block" %></td>
    <td><%= form.text_field :question_score %></td>
  </div>
  <tr></tr>
  <div>
    <td><%= form.label :user_comment, style: "display: block" %></td>
    <td><%= form.text_field :user_comment, :size => "80" %></td>
  </div>
  <tr>
  </tbody>
</table>
<br/>
  <div>
    <%= form.submit "Submit Answer" %>
  </div>
<% end %>
<br/>
<% if ! @test_question.image_id.nil? -%>
  See <%= @test_question.image_text %>
  <br/>
  <iframe src=<%= "/image_#{@test_question.image_id}.pdf" %> width="800" height="900" style="border: none;"></iframe>
<% end -%>

