<p style="color: green"><%= notice %></p>

<% if @documents.size > 0 -%>
  <h2>Documents</h2>
  <div id="documents">
   <%= form_tag( {controller: :favorite_lists, action: :drop_favorite}, {method: :get, id: 'favorites_form'} ) do %>
    <table cellpadding="2" class="display compact dataTable" id="example">
      <thead>
        <tr>
          <th>Favorites</th>
          <th>Collection</th>
          <th>Download</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| -%>
          <tr>
            <td><%= check_box_tag( "doc_ids[]", document.id, nil, { multiple: true } ) %></td>
            <td><%= check_box_tag( "col_ids[]", document.id, nil, { multiple: true } ) %></td>
            <td><%= link_to document.filename, :id => document.id, :controller => :documents, :action => :download %></td>
            <td><%= link_to "Show", document %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <br/>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <div>
            <td><b>New LLM RAG collection name:</b></td>
            <td><%= text_field_tag :col_name, '', :size => "40" %></td>
          </div>
          <div>
            <td><%= select_tag "vec_name", options_for_select(Collection::VECTOR_STORES) %></td>
          </div>
          <div>
            <td><%= collection_select :parameter_set_id, :parameter_set_id, @parameter_sets, :id, :set_name, prompt: "Select RAG parameter set" %></td>
          </div>
          <div>
            <td><%= submit_tag( 'Create collection', id: 'collection_btn' ) %></td>
          </div>
        </tr>
      </tbody>
    </table>
   <%= submit_tag( 'Remove selected favorites', id: @favorite_list.id ) %>
   <% end -%>
  </div>
<% end -%>

<div>
  <%= link_to "Back to favorite lists", favorite_lists_path %>
  <%= button_to "Delete this favorite list", @favorite_list, method: :delete %>
</div>
