<div id="<%= dom_id source %>">
  <p>
    <strong>User:</strong>
    <%= source.user_id %>
  </p>

  <p>
    <strong>Llm question:</strong>
    <%= source.llm_question_id %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= source.response_id %>
  </p>

  <p>
    <strong>Source order:</strong>
    <%= source.source_order %>
  </p>

  <p>
    <strong>Document name:</strong>
    <%= source.document_name %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= source.page %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= source.score %>
  </p>

  <p>
    <strong>Page content:</strong>
    <%= source.page_content %>
  </p>

</div>
