<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table border="2">
    <thead></thead>
    <tbody>
      <tr>
        <div>
          <td><%= form.label :path_name, style: "display: block" %></td>
          <td><%= form.text_field :path_name %></td>
        </div>
      </tr><tr>
        <div>
          <td><%= form.label :folder_name, style: "display: block" %></td>
          <td><%= form.text_field :folder_name %></td>
        </div>
      </tr>
    </tbody>
  </table>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
