<div id="<%= dom_id template %>">
  <table border="2">
    <thead></thead>
    <tbody>
      <tr>
        <td><b>Template text:</b></td>
        <td><%= template.template_text %></td>
      </tr>
    
      <tr>
        <td><b>Prompt Input:</b></td>
        <td><%= template.prompt_input %></td>
      </tr>
    
      <tr>
        <td><b>Chat prompt:</b></td>
        <td><%= template.chat_prompt %></td>
      </tr>
    
      <tr>
        <td><b>System prompt:</b></td>
        <td><%= template.system_prompt%></td>
      </tr>
    
      <tr>
        <td><b>Input Variables:</b></td>
        <td><%= template.input_variables %></td>
      </tr>
    </tbody>
  </table>
</div>
