<div id="<%= dom_id llm %>">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td><strong>LLM name:</strong></td>
        <td><%= llm.llm_name %></td>
      </tr><tr>
        <td><strong>LLM version:</strong></td>
        <td><%= llm.llm_version %></td>
      </tr><tr>
        <td><strong>Adapter name:</strong></td>
        <td><%= llm.adapter_name %></td>
      </tr><tr>
        <td><strong>Updated at:</strong></td>
        <td><%= llm.updated_at.strftime('%Y-%m-%d') %></td>
      </tr>
    </tbody>
  </table>
</div>
